@model AddBookingView
@{
    ViewData["Title"] = "Add a Booking";
    
}
<h1 class="m-2">@ViewData["Title"]</h1>

<a asp-action="BookingHome" class="btn btn-danger m-2">Return to Bookings</a>

<form asp-action="AddBooking" method="post">

    <div class="form-group m-2">
        <label asp-for="@Model.Booking.BookingDateFrom" class="form-label">Booking Date From:</label>
        <input asp-for="@Model.Booking.BookingDateFrom" type="datetime" class="form-control" placeholder="YYYY-MM-DD HH:MM:SS" />
        
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.Booking.BookingDateTo" class="form-label">Booking Date To:</label>
        <input asp-for="@Model.Booking.BookingDateTo" type="datetime" class="form-control" placeholder="YYYY-MM-DD HH:MM:SS" />
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.Booking.Deposit" class="form-label">Deposit:</label>
        <input asp-for="@Model.Booking.Deposit" class="form-control" placeholder="000.00" />
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.Booking.Status" class="form-label">Status:</label>
        <select asp-for="@Model.Booking.Status" class="m-2">
            <option value="">Choose an Option</option>
            <option value="true">Confirmed</option>
            <option value="false">Cancelled</option>
        </select>
    </div>

    <div class="form-group m-2">
        <label asp-for="@Model.Booking.guest" class="form-label">Guest:</label>
        <select asp-for="@Model.Booking.guest" >
            @foreach(Guest g in Model.guests){
                <option value=@g>@g.guestName</option>
            }
        </select>
    </div>
    

    <button type="submit" class="btn btn-primary m-2" style="color:white;font-weight:bold"><i class="fa fa-plus"></i> ADD BOOKING</button>
</form>