@model IEnumerable<Booking>
@{
    ViewData["Title"] = "Bookings";
}
<h1 class="m-2">@ViewData["Title"]</h1>

<a asp-action="AddBooking" class="btn btn-primary m-2" style="color:white;font-weight:bold"><i class="fa fa-plus"></i> ADD BOOKING</a>
<table class="table table-sm table-bordered m-2 text-light">
    <thead>
        <tr>
            <th>Booking Id</th>
            <th>Booking Date</th>
            <th>Guest Name</th>
            <th>Deposit</th>
            <th>Status</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.bookingId</td>
                <td>@book.BookingDateFrom To @book.BookingDateTo</td>
                <td></td>
                <td>@book.Deposit</td>
                    @if (book.Status == true){
                        <td style="padding:10px"><span class="text-center text-white rounded" style="padding:5px;font-size:16px;background-color:lightseagreen">Confirmed</span></td>
                    }else{
                        <td style="padding:10px"><span class="text-bg-warning text-center text-white rounded" style="padding:5px;font-size:16px">Cancelled</span></td>
                    }
                <td><a asp-action="UpdateBooking" asp-route-id="@book.bookingId" class="btn btn-info" style="color:white"><i class="fa fa-pencil" title="Edit"></i> Edit</a></td>
       
                <td><form asp-action="DeleteBooking" asp-route-id="@book.bookingId">
                        <button type="submit" class="btn btn-danger" style="color:white">
                            <i class="fa fa-trash" title="Delete"></i> Delete
                        </button>
                    </form>
                    
                </td>

                <td><a asp-action="BookingDetails" asp-route-id="@book.bookingId" class="btn btn-info"><i class="fa fa-address-book"></i>Details</a></td>
            </tr>
        }
    </tbody>
</table>