@model BookingDetailsView
@{

}

<h1>Booking No.@Model.booking.guestId Details</h1>

<a asp-action="BookingHome" class="btn btn-danger m-2">Return to Bookings</a>
<li class="li list-group">
    <li class="li list-group">Booking Info
        <ul class="list-group-item">From: @Model.booking.BookingDateTo</ul>
        <ul class="list-group-item">To: @Model.booking.BookingDateFrom</ul>
    </li>
    <li class="li list-group">Guest Info
        <ul class="list-group-item">Guest Name: @Model.guest.guestName</ul>
        <ul class="list-group-item">Guest Email: @Model.guest.guestEmail</ul>
    </li>
    <li class="li list-group">Room Info
        <ul class="list-group-item">Room Number: @Model.room.RoomId</ul>
        <ul class="list-group-item">Room Type: @Model.room.roomType</ul>
    </li>
</li>