@model IEnumerable<Guest>
@{
    ViewData["Title"] = "Guests";
}
<h1 class="m-2">@ViewData["Title"]</h1>

<a asp-action="AddGuest" class="btn btn-primary m-2" style="color:white;font-weight:bold"><i class="fa fa-plus"></i> ADD GUEST</a>
<table class="table table-sm table-bordered m-2 text-light">
    <thead>
        <tr>
            <th>Guest Id</th>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Email</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>Bookings</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var guest in Model)
        {
            <tr>
                <td>@guest.guestId</td>
                <td>@guest.guestName</td>
                <td>@guest.guestPhoneNo</td>
                <td>@guest.guestEmail</td>
                <td><a asp-action="UpdateGuest" asp-route-id="@guest.guestId" class="btn btn-info" style="color:white"><i class="fa fa-pencil" title="Edit"></i> Edit</a></td>
                <td>
                    <form asp-action="DeleteGuest" asp-route-id="@guest.guestId">
                        <button type="submit" class="btn btn-danger" style="color:white">
                            <i class="fa fa-trash" title="Delete"></i> Delete
                        </button>
                    </form>

                </td>
                <td><a asp-action="GuestBookings" asp-route-id="@guest.guestId" class="btn-outline-info">See Bookings</a></td>
            </tr>
        }
    </tbody>
</table>